
body{
	background: #669e7f;
}
/*bloki*/
#top{
display:block;
width:100%;
height: 150px;
font-family: 'Josefin Sans', sans-serif;
font-size: 80px;
color: #d0e5d9;
text-align: center;
line-height:150px;
letter-spacing: 20px;
}
#navigation{
width:100%;
height:66px;
font-family: 'Josefin Sans', sans-serif;
color: #d0e5d9;
text-align: center;
display:block;
}
#content{
display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
  max-height:3000px;
text-align: left;
	color: #d0e5d9;
	font-size: 36px;
	font-family: 'Josefin Sans', sans-serif;
}
.video{
	padding:1 1 1 1;
	display:inline-block;
	float:left;
}
.soundcloud{
	margin: auto;
 display:block;
 width:70%;
 height:300px;
	
}
.musictitle{
	text-align:center;
margin: 40 0 15 0;
font-size:48px;
font-decoration:bold;
}
/*pogas augsa*/
button:focus {outline:0;}
.btn-group .button {
	float:left;
	padding: 15 0 15 0;
    border: 0px;
	color: #d0e5d9;
	background-color: rgba(0,0,0,0);
    text-align: center;
    font-size: 36px;
    width: 20%;
	font-family: 'Josefin Sans', sans-serif;
    cursor: pointer;

}
a{text-decoration:none;}
.btn-group .button:hover{
  color: white;
  transition: 0.3s;
}

.hvrbox, /* uz bildes uzbraukt*/
.hvrbox * {
	box-sizing: border-box;
}
.hvrbox {
	position: relative;
	display: inline-block;
	overflow: hidden;
	max-width: 100%;
	height: auto;

}
.hvrbox img {
	max-width: 100%;
}
.hvrbox .hvrbox-layer_bottom {
	display: block;
}
.hvrbox .hvrbox-layer_top {
	opacity: 0;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.1);
	color: #fff;
	padding: 15px;
	-moz-transition: all 0.4s ease-in-out 0s;
	-webkit-transition: all 0.4s ease-in-out 0s;
	-ms-transition: all 0.4s ease-in-out 0s;
	transition: all 0.4s ease-in-out 0s;
}
.hvrbox:hover .hvrbox-layer_top,
.hvrbox.active .hvrbox-layer_top {
	opacity: 1;
}
.hvrbox .hvrbox-text {
	background:rgba(0, 0, 0, 0.7);
	padding:10 10 10 10;
	text-align: center;
	font-size: 24px;
	display: inline-block;
	position: absolute;
	top: 80%;
	left: 50%;
	-moz-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-family: 'Josefin Sans', sans-serif;
}
.hvrbox .hvrbox-text_mobile {
	font-size: 15px;
	border-top: 1px solid rgb(179, 179, 179); /* for old browsers */
	border-top: 1px solid rgba(179, 179, 179, 0.7);
	margin-top: 5px;
	padding-top: 2px;
	display: none;
}
.hvrbox.active .hvrbox-text_mobile {
	display: block;
}

/*bilzhu rezhgjis*/
.row {
padding:0 0 0 0;
	display:inline-block;
	float:left;
}
/* Create 3 equal columns that sits next to each other */
.column {
padding:0 0 0 0;
  max-width: 33%;
  float:left;
}
.column img {
  width:100%;
  padding:0 0 0 0px;
}
